:root{
    --hard: #451952;
    --hard-medium: #662549;
    --medium: #AE445A;
    --basic: #F39F5A;
    --text_type: 'Montserrat', sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.selector{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--basic);
}
.central_buton{
    border: 2px solid var(--hard);
    padding: 6px 6px;
    border-radius: 12px;
    background-color:var(--hard);
    color: var(--basic);
    margin-right: 20px;
    font-family: var(--text_type);
}
.logo{
    width: 150px;
    height: 50%;
    margin-left: 20px;
}
.main{
    background-color: var(--hard);
    height: 100dvh;
}
.search_concept{
    background-color: var(--medium);
    border-radius: 12px;
    width: 80%;
    margin: 20px auto;
    height: 80px;
    text-align: center;
    border: 2px solid var(--basic);
}
.search{
    border-radius: 12px;
    height: 30px;
    outline: none;
    background-color: var(--hard-medium);
    border: var(--hard-medium);
    color: var(--basic);
    font-family: var(--text_type);
}
.search_title{
    color: var(--hard);
    margin-bottom: 10px;
    font-size: 20px;
}
.button_concept{
    border: 2px solid var(--medium);
    border-radius: 12px;
    width: 80%;
    height: 200px;
    margin: auto;
    color: var(--basic);
}
.list_button{
    width: 80%;
    margin: auto;
    color: var(--basic);
    height: 100%;
}
.list{
    color: var(--hard);
    text-decoration: none;
    background-color: var(--basic);
    border-radius: 12px;
    padding: 3px 5px;
    margin: 50px 0px;
}
.list_main{
    margin: 15px 0;
}   